@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/barlow-v11-latin-regular.woff2') format('woff2'), 
    url('../fonts/barlow-v11-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/barlow-v11-latin-700.woff2') format('woff2'), 
    url('../fonts/barlow-v11-latin-700.woff') format('woff');
}
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'),
    url('../fonts/fraunces-v10-latin-900.woff') format('woff');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Fraunces', 'Barlow' sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: middle;
}
.btn {
    background: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 15px 31px 16px 31px;
    color: #FEFCF7;
    border: none;
    cursor: pointer;
    transition: all 500ms linear 0s;
}
.btn:hover {
    background: #66D2CF;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}
.btn:active {
    background: transparent;
    border-radius: 6px;
    transform: scale(0.9 0.9);
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}
.header {
    margin-top: 44px;
    margin-bottom: 45px;
    background-color: #fff;
    padding: 10px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    width: 283px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #83888F;
    transition: 200ms linear 0s;
}
.header__link:hover {
    color: #000;
}

/* ------------------ Hero ------------------ */

.hero {
    margin-bottom: 136px;
}
.hero__container {
    background-image: url(../images/hero-bg.jpg);
    padding: 117px 702px 116px 85px;
    border-radius: 10px;
}
.hero__wrapper {
    width: 493px;
}
.hero__heading {
    width: 493px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-bottom: 32px;
}
.hero__text {
    width: 418px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-bottom: 56px;
}
.hero__btn {
    width: 238px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------------------ Collection ------------------ */

.collection__container {
    background-image: url(../images/our-collection.svg);
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collection__list {
    width: 1111px;
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.collection__item {
    transition: all 200ms linear 0s;
}
.collection__item:hover {
    transform: scale(1.05, 1.05);
}
.collection__text {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 24px;
    color: #333D4B;
}
.collection__subtext {
    width: 255px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

/* ------------------- Choose section ---------------------- */

.choose {
    margin-bottom: 351px;
}
.choose__container {
    position: relative;
    padding-top: 115px;
    padding-bottom: 318px;
    border-radius: 10px;
    background-color: #282F38;
}
.choose__wrapper {
    width: 540px;
    margin: auto;
}
.choose__heading {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 32px;
}
.choose__subtext {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
}
.choose__list {
    width: 1230px;
    margin-top: 86px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.choose__item {
    cursor: pointer;
    margin: auto;
    padding-top: 72px;
    width: 350px;
    background: #0E8784;
    border-radius: 8px;
}
.choose__item + .choose__item {
    margin-left: 30px;
}
.choose__item-wrapper1::before {
    content: url(../images/cofe-bean.svg);
}
.choose__item-wrapper2::before {
    content: url(../images/gift.svg);
}
.choose__item-wrapper3::before {
    content: url(../images/delivery.svg);
}
.choose__item-wrapper3 {
    padding-top: 23px;
}
.choose__item-wrapper {
    width: 255px;
    margin: auto;
    text-align: center;
}
.choose__item-text {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 24px;
    margin-top: 56px;
}
.choose__item-subtext {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 48px;
}

/* -------------- Work Section ------------ */

.work {
    margin-bottom: 200px;
}
.work__container {
    padding-left: 86px;
    padding-right: 86px;
}
.work__title {
    margin: auto;
    margin-bottom: 178px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.work__list::before {
    content: url(../images/line.svg);
    width: 750px;
    position: absolute;
    margin-top: -101px;
}
.work__list {
    margin: auto;
    display: flex;
    margin-bottom: 64px;
    flex-wrap: wrap;
}
.work__item::before {
    content: url(../images/circle.svg);
    position: absolute;
    margin-top: -104px;
}
.work__item {
    width: 285px;
}
.work__item + .work__item {
    margin-left: 95px;
}
.work__item-num {
    margin-bottom: 38px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.work__item-title {
    width: 255px;
    margin-bottom: 42px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}
.work__item-subtitle {
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

/* -------------- Footer --------------- */

.footer {
    background: #2C343E;
}
.footer__container {
    display: flex;
    align-items: center;
    padding: 48px 85px;
}
.footer__logo {
    margin-right: 103px;
}
.footer__center {
    margin-right: 369px;
}
.footer__list {
    display: flex;
}
.footer__link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.footer__item + .footer__item {
    margin-left: 32px;
}
.footer__link:hover {
    color: #0E8784;
}
.footer__social-list {
    width: 115px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

/* ---------------------- */

/* ----------- About Us site ------------- */

/* ---------------------- */

.hero-about {
    margin-bottom: 168px;
}
.hero-about__container {
    background-image: url(../images/au-hero-bg.png);
    padding: 137px 750px 137px 85px;
    border-radius: 10px;
}
.hero-about__wrapper {
    width: 445px;
}
.hero-about__heading {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 24px;
}
.hero-about__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

/* --------------- Commit Section ------------ */

.commit-about {
    margin-bottom: 168px;
}
.commit-about__container {
    width: 1110px;
    display: flex;
    align-items: center;
}
.commit-about__wrapper {
    width: 540px;
    margin-left: 125px;
}
.commit-about__heading {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    margin-bottom: 32px;
}
.commit-about__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
}

/* ------------- Quality Section -------------- */

.quality-about {
    margin-bottom: 168px;
}
.quality-about__container {
    position: relative;
    display: flex;
    padding: 88px 655px 176px 85px;
    background: #2C343E;
    border-radius: 10px;
}
.quality-about__wrapper {
    width: 540px;
}
.quality-about__heading {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
}
.quality-about__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}
.quality-about__img {
    margin-top: -177px;
    margin-left: 665px;
    position: absolute;
}

/* --------- Locations Section ----------- */

.locations-about {
    margin-bottom: 168px;
}
.locations-about__container {
    width: 1045px;
    margin-left: 85px;
}
.locations-about__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 137px;
}
.locations-about__list {
    width: 1045px;
    display: flex;
}
.locations-about__item + .locations-about__item {
    margin-left: 95px;
}
.locations-about__img {
    margin-bottom: 30px;
}
.locations-about__heading {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 24px;
}
.locations-about__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-bottom: 8px;
}