$cyan: #0E8784;
$dark-grey-blue: #333D4B;
$pale-orange: #FDD6BA;
$light-cream: #FEFCF7;
$grey: #83888F;
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/barlow-v11-latin-regular.woff2') format('woff2'), 
    url('../fonts/barlow-v11-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/barlow-v11-latin-700.woff2') format('woff2'), 
    url('../fonts/barlow-v11-latin-700.woff') format('woff');
}
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'),
    url('../fonts/fraunces-v10-latin-900.woff') format('woff');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Fraunces', 'Barlow' sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: middle;
}
.btn {
    background: $cyan;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 15px 31px 16px 31px;
    color: $light-cream;
    border: none;
    cursor: pointer;
    transition: all 500ms linear 0s;
}
.btn:hover {
    background: #66D2CF;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $light-cream;
}
.btn:active {
    background: transparent;
    border-radius: 6px;
    transform: scale(0.9 0.9);
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $light-cream;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}
// ------------ header shadow ----------------
.header {
    & {
        margin-top: 44px;
        margin-bottom: 45px;
        background-color: #fff;
        padding: 10px 0px;
        box-shadow: 0px 0px 0px 0px black;
        transition: box-shadow 200ms linear 0s;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        width: 283px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        color: $grey;
        transition: 200ms linear 0s;
    }
    &__link:hover {
        color: #000;
    }
}
// ---------------- hero --------------
.hero {
    & {
        margin-bottom: 136px;
    }
    &__container {
        background-image: url(../images/hero-bg.jpg);
        padding: 117px 702px 116px 85px;
        border-radius: 10px;
    }
    &__wrapper {
    width: 493px;
    }
    &__heading {
        width: 493px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: $light-cream;
        margin-bottom: 32px;
    }
    &__text {
        width: 418px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $light-cream;
        opacity: 0.8;
        margin-bottom: 56px;
    }
    &__btn {
        width: 238px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
// ----------------- collection ----------------
.collection {
    &__container {
        background-image: url(../images/our-collection.svg);
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__list {
        width: 1111px;
        padding-top: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 200px;
    }
    &__item {
        transition: all 200ms linear 0s;
    }
    &__item:hover {
        transform: scale(1.05, 1.05);
    }
    &__text {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 24px;
    color: $dark-grey-blue;
    }
    &__subtext {
        width: 255px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: $dark-grey-blue;
    }
}
// ------------- choose section --------------
.choose {
    & {
        margin-bottom: 351px;
    }
    &__container {
        position: relative;
        padding-top: 115px;
        padding-bottom: 318px;
        border-radius: 10px;
        background-color: #282F38;
    }
    &__wrapper {
        width: 540px;
        margin: auto;
    }
    &__heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: $light-cream;
        margin-bottom: 32px;
    }
    &__subtext {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: $light-cream;
        opacity: 0.8;
    }
    &__list {
        width: 1230px;
        margin-top: 86px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        cursor: pointer;
        margin: auto;
        padding-top: 72px;
        width: 350px;
        background: $cyan;
        border-radius: 8px;
    }
    &__item + &__item {
        margin-left: 30px;
    }
    &__item-wrapper1::before {
        content: url(../images/cofe-bean.svg);
    }
    &__item-wrapper2::before {
        content: url(../images/gift.svg);
    }
    &__item-wrapper3::before {
        content: url(../images/delivery.svg);
    }
    &__item-wrapper3 {
        padding-top: 23px;
    }
    &__item-wrapper {
        width: 255px;
        margin: auto;
        text-align: center;
    }
    &__item-text {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: $light-cream;
        margin-bottom: 24px;
        margin-top: 56px;
    }
    &__item-subtext {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: $light-cream;
        margin-bottom: 48px;
    }
}
// ----------------------- work section ------------------
.work {
    & {
        margin-bottom: 200px;
    }
    &__container {
        padding-left: 86px;
        padding-right: 86px;
    }
    &__title {
        margin: auto;
        margin-bottom: 178px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: $grey;
    }
    &__list::before {
        content: url(../images/line.svg);
        width: 750px;
        position: absolute;
        margin-top: -101px;
    }
    &__list {
        margin: auto;
        display: flex;
        margin-bottom: 64px;
        flex-wrap: wrap;
    }
    &__item::before {
        content: url(../images/circle.svg);
        position: absolute;
        margin-top: -104px;
    }
    &__item {
        width: 285px;
    }
    &__item + &__item {
        margin-left: 95px;
    }
    &__item-num {
        margin-bottom: 38px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: $pale-orange;
    }
    &__item-title {
        width: 255px;
        margin-bottom: 42px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: $dark-grey-blue;
    }
    &__item-subtitle {
        width: 285px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $dark-grey-blue;
    }
}
.footer {
    & {
        background: #2C343E;
    }
    &__container {
        display: flex;
        align-items: center;
        padding: 48px 85px;
    }
    &__logo {
        margin-right: 103px;
    }
    &__center {
        margin-right: 369px;
    }
    &__list {
        display: flex;
    }
    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: $grey;
    }
    &__item + &__item {
        margin-left: 32px;
    }
    &__link:hover {
        color: $cyan;
    }
    &__social-list {
        width: 115px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

//  ---------------------- 

//  ----------- About Us site ------------- 

//  ---------------------- 

.hero-about {
    & { 
        margin-bottom: 168px;
    }
    &__container {
        background-image: url(../images/au-hero-bg.png);
        padding: 137px 750px 137px 85px;
        border-radius: 10px;
    }
    &__wrapper {
        width: 445px;
    }
    &__heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: $light-cream;
        margin-bottom: 24px;
    }
    &__text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $light-cream;
    }
}
.commit-about {
    & {
        margin-bottom: 168px;
    }
    &__container {
        width: 1110px;
        display: flex;
        align-items: center;
    }
    &__wrapper {
        width: 540px;
        margin-left: 125px;
    }
    &__heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: $dark-grey-blue;
        margin-bottom: 32px;
    }
    &__text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $dark-grey-blue;
        opacity: 0.8;
    }
}
.quality-about {
    & {
        margin-bottom: 168px;
    }
    &__container {
        position: relative;
        display: flex;
        padding: 88px 655px 176px 85px;
        background: #2C343E;
        border-radius: 10px;
    }
    &__wrapper {
        width: 540px;
    }
    &__heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: $light-cream;
        margin-bottom: 32px;
    }
    &__text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $light-cream;
        opacity: 0.8;
    }
    &__img {
        margin-top: -177px;
        margin-left: 665px;
        position: absolute;
    }
}
.locations-about {
    & {
        margin-bottom: 168px;
    }
    &__container {
        width: 1045px;
        margin-left: 85px;
    }
    &__title {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: $grey;
        margin-bottom: 137px;
    }
    &__list {
        width: 1045px;
        display: flex;
    }
    &__item + &__item {
        margin-left: 95px;
    }
    &__img {
        margin-bottom: 30px;
    }
    &__heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: $dark-grey-blue;
        margin-bottom: 24px;
    }
    &__text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $dark-grey-blue;
        margin-bottom: 8px;
    }
}