.collection {
    &__container {
        background-image: url(../images/our-collection.svg);
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__list {
        width: 1111px;
        padding-top: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 200px;
    }
    &__item {
        transition: all 200ms linear 0s;
    }
    &__item:hover {
        transform: scale(1.05, 1.05);
    }
    &__text {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 24px;
    color: #333D4B;
    }
    &__subtext {
        width: 255px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }
}