.footer {
    & {
        background: #2C343E;
    }
    &__container {
        display: flex;
        align-items: center;
        padding: 48px 85px;
    }
    &__logo {
        margin-right: 103px;
    }
    &__center {
        margin-right: 369px;
    }
    &__list {
        display: flex;
    }
    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        color: #83888F;
    }
    &__item + &__item {
        margin-left: 32px;
    }
    &__link:hover {
        color: #0E8784;
    }
    &__social-list {
        width: 115px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}