.header {
    & {
        margin-top: 44px;
        margin-bottom: 45px;
        background-color: #fff;
        padding: 10px 0px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        width: 283px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        color: #83888F;
        transition: 200ms linear 0s;
    }
    &__link:hover {
        color: #000;
    }    
}



@media screen and (max-width: 768px) {
    .header {
            & {
                margin-top: 46px;
                margin-bottom: 58px;
                background-color: #fff;
                padding: 10px 0px;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                z-index: 2;
            }
            &__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__list {
                width: 282px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__link {
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.9px;
                text-transform: uppercase;
                color: #83888F;
                transition: 200ms linear 0s;
            }
            &__link:hover {
                color: #000;
            }
    }    
}