.work {
    & {
        margin-bottom: 200px;
    }
    &__container {
        padding-left: 86px;
        padding-right: 86px;
    }
    &__title {
        margin: auto;
        margin-bottom: 178px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
    }
    &__list::before {
        content: url(../images/line.svg);
        width: 750px;
        position: absolute;
        margin-top: -101px;
    }
    &__list {
        margin: auto;
        display: flex;
        margin-bottom: 64px;
        flex-wrap: wrap;
    }
    &__item::before {
        content: url(../images/circle.svg);
        position: absolute;
        margin-top: -104px;
    }
    &__item {
        width: 285px;
    }
    &__item + &__item {
        margin-left: 95px;
    }
    &__item-num {
        margin-bottom: 38px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
    }
    &__item-title {
        width: 255px;
        margin-bottom: 42px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
    }
    &__item-subtitle {
        width: 285px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }
}
@media screen and (max-width: 768px) {
    .work {
        & {
            margin-bottom: 144px;
        }
        &__container {
            padding-left: 39px;
            padding-right: 40px;
        }
        &__title {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #83888F; 
        }
        &__list::before {
            content: url(../images/tablet-line.svg);
            width: 467px;
            position: absolute;
            margin-top: -101px;
        }
        &__list {
            width: 689px;
            margin: auto;
            display: flex;
            margin-bottom: 44px;
            flex-wrap: wrap;
        }
        &__item::before {
            content: url(../images/circle.svg);
            position: absolute;
            margin-top: -104px;
        }
        &__item {
            width: 223px;
        }
        &__item + &__item {
            margin-left: 10px;
        }
        &__item-num {
            width: 90px;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FDD6BA;
            margin-bottom: 42px;
        }
        &__item-title {
            width: 223px;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 32px;
            color: #333D4B;
            margin-bottom: 38px;
        }
        &__item-subtitle {
            width: 198px;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #333D4B;
            margin-bottom: 44px;
        }
    }
}